* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
/*-------css reset------*/
  
body {
  background-color: rgb(214, 93, 93);
  }  

section {
  height: 100vh;
}

  #cube1 {
    position: relative;
      width: 500px;
      height: 500px;
      background-color: rgb(192, 116, 116);
      margin: auto;
      margin-top: 10%;
  }
  #cube2 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(79, 126, 126);
    margin: 5%;
  }
  #cube3 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: aqua;
    bottom: 5%; 
    left: 5%;
  }
  #cube4 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(85, 165, 89);
    bottom: 5%; 
    right: 5%;
  }
  #cube5 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(116, 92, 223);
    top: 5%; 
    right: 5%;
  }
  #cube6 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(56, 75, 160);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #cube7 {
    position: fixed;
    width: 150px;
    height: 150px;
    background-color: rgb(150, 85, 38);
    bottom: 2px;
    left: 2px;
  }
  #cube8 {
  margin: auto;
  background-color: rgb(235, 120, 37);
  width: 150px;
  height: 150px;
  
  }

  .oszlop {
    background-color: rgb(192, 116, 116);
    width: 150px;
    height: 100%;
    right: 2px;
    bottom: 2px;
    position: fixed;
  }

  h1 {
    color:rgb(245, 8, 47);
    text-align: center;
    line-height: 150px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    
  }